
.container {
    height: inherit;
    width: 340px;
    display: flex;
    justify-content: flex-start;
    position: absolute;
	z-index: 2;
    right: 0;
}

#box-chat {
    background-color: rgba(255, 255, 255, 0.75);
    height: inherit;
    width: 340px;
    overflow-y: auto;
    display: none;
	z-index: 3;
    right: 0;
    position: absolute;
}

.menu-header {
    background-color: rgb(40, 163, 152, 0.8);
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.title {
    position: relative;
    font-size: 22px;
}

#close-button {
    position: absolute;
    left: -50px;
    cursor: pointer;
    font-size: 26px;
}

#content-video {
    display: flex;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
}

#feature {
    position: absolute;
    display: none;
    top: 1%;
    right: 1%;
    background-color: #28A398;
    height: 45px;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
	z-index: 5;
    text-align: center;
}

#toggle-video {
    /* padding: 50px; */
    color: white;
}

/* CSS VIDEO BOX */
.owner-box, .friend-box {
    width: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.video {
    background-color: rgb(156, 48, 48);
    width: 100%;
    height: 120px;
    border-radius: 25px;
    border: 3px solid #FFF;
    object-fit: cover;
}

.info {
    display: flex;
    color: white;
    justify-content: space-between;
    margin-top: 8px;
}

.name {
    background-color: #28A398;
    opacity: 1.3;
    width: 80px;
    display: flex;
    justify-content: center;
    padding: 1px 10px;
    border-radius: 18px;
    font-size: 12px;
    height: 16px;
}

/* .name-user { } */

.button-group {
   display: flex;

}

.button-voice, .button-video {
    width: 16px;
    height: 16px;
    background-color: #28A398;
    padding: 4px;
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.button-voice {
    margin-right: 10px;
}


/* Responsive */
@media screen and (max-width: 1024px) {
    #box-chat {
        width: 330px;
    }

    .owner-box, .friend-box {
        width: 190px;
    }

    #close-button {
        left: -46px;
        font-size: 26px;
    }

    .video {
        height: 112px;
    }
    
}

@media screen and (max-width: 768px) {
    #box-chat {
        width: 320px;
    }

    .owner-box, .friend-box {
        width: 180px;
    }

    #close-button {
        left: -40px;
        font-size: 26px;
    }

    .video {
        height: 100px;
    }
}

@media screen and (max-width: 480px) {
    #box-chat {
        width: 300px;
    }

    .owner-box, .friend-box {
        width: 168px;
    }

    #close-button {
        left: -30px;
        font-size: 26px;
    }

    .video {
        height: 90px;
    }   
}